.digital-clock {
    font-size: 2rem;
    text-align: center;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #ff8000, #ffcc00); /* Customize the gradient colors as desired */
    color: transparent;
    display: inline-grid;
    -webkit-background-clip: text;

}
.output-panel {
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    font-size: 18px;
    color: #333;
    margin: 0px 60px 40px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 120px;
  }

.time {
    font-weight: bold;
}
.date{
    font-weight: bold;
}

.weather-info {
    text-align: left;
    font-weight: bold;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #605243, #00ffff); /* Customize the gradient colors as desired */
    color: transparent;
    -webkit-background-clip: text;
}

.temperature {
    font-size: 2rem;
}

.conditions {
    font-size: 2rem;
}
.weather-icon {
    text-align: right;
    padding: 10px;
}
.alignmet{
    display: inline-flex;
}