.digital-clock {
    font-size: 2rem;
    text-align: revert-layer;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #ff8000, #ffcc00);
    color: transparent;
    display: inline-grid;
    -webkit-background-clip: text;
    background-clip:text;
    
}
.output-panel {
    background-color: #f5f5f5;
    border-radius: 5px;
    text-align: center;
    color: #333;
    margin: 0px 40px 40px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
    height: auto;
    overflow: auto;
    align-content: space-evenly;
    justify-content: end;
    align-items: center;
    justify-items: start;
    transition: transform 0.3s ease-in-out;
  }

  .output-panel:hover {
    transform: scale(1.05);
    /* Add any other hover effect you want here */
}

.time, .date {
    font-weight: bold;
    font-family: Arial, sans-serif;
}

.weather-info {
    text-align: left;
    font-weight: bold;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #605243, #00ffff); /* Customize the gradient colors as desired */
    color: transparent;
    -webkit-background-clip: text;
    padding-top: 4px;
}

.temperature, .conditions {
    font-size: 2rem;
}

.weather-icon {
    text-align: right;
    padding: 10px;
}
.alignmet{
    display: inline-flex;
}